.navbar-default {
	background-color: transparent;
	border-color: transparent;
}
.navbar-default .navbar-brand {
    line-height: 120px;
    height: 120px;
    padding-top: 0;
}
@media (min-width: 768px) {
	.navbar-default .navbar-collapse {
		margin-top: 46px;
	}
}
.navbar-default .navbar-nav > li > a {
	font-size: 16px;
	font-weight: bold;
	color: #333;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #777;
	background-color: transparent;
}
.navbar-brand-image {
	height: 100px;
	width: auto;
	max-width: 100%;
}
.navbar-default .navbar-toggle {
	margin-top: 72px;
}