<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<img class="navbar-brand-image" alt="Brand" src="{{ '/public/images/logo.png' | prepend: site.baseurl }}" />
			</a>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="language-menu">
			<a href="{{ '/store.html' | prepend: site.baseurl }}">青玉善门店</a>|<a href="{{ '/english.html' | prepend: site.baseurl }}">English</a>|<a href="{{ '/french.html' | prepend: site.baseurl }}">Français</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">品牌文化</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{{ '/brand-origin.html' | prepend: site.baseurl }}">品牌起源</a></li>
						<li><a href="{{ '/brand-culture.html' | prepend: site.baseurl }}">文化理念</a></li>
					</ul>
				</li>
				<li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="/">养生茶点</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{{ '/tea-of-jade.html' | prepend: site.baseurl }}">玉·茶</a></li>
						<li><a href="{{ '/cake-of-jade.html' | prepend: site.baseurl }}">玉·点</a></li>
						<li><a href="{{ '/principle-of-ingredient.html' | prepend: site.baseurl }}">食材搭配</a></li>
					</ul>
				</li>
				<li><a href="{{ '/brand-promise.html' | prepend: site.baseurl }}">社会责任</a></li>
				<li><a href="{{ '/shan-fund.html' | prepend: site.baseurl }}">善基金</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div><!--/.container-fluid -->
</nav>